body {
  font-family: sans-serif;
  padding: 20px;
  max-width: 900px;
  margin: auto;
  background: #f9f9f9;
}

h1 {
  text-align: center;
  margin-bottom: 40px;
}

.semestre {
  margin-bottom: 30px;
}

.semestre h2 {
  background: #2b6cb0;
  color: white;
  padding: 10px;
  border-radius: 5px;
}

.materia {
  padding: 10px;
  margin: 5px 0;
  border-radius: 8px;
  border: 1px solid #ccc;
  background: #e2e8f0;
  cursor: pointer;
}

.materia.locked {
  background: #e2e2e2;
  color: #aaa;
  cursor: not-allowed;
}

.materia.completed {
  background: #c6f6d5;
  text-decoration: line-through;
}

